@use '../base';
@use 'sass:list';


.modal{
	display: none;
	position: fixed;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 50%;
	width: calc(100% - 40px);
	min-width: 360px;
	max-width: 1000px;
	max-height: calc(100% - 100px);
	background: #FFF;
	border-radius: 30px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: list.index(base.$elements, modal);
	transform: translate(-50%, 30%);
	.close {
		&:hover {
			background: #dde5f7;
		}
	}
}