.tabs {
	border-radius: 20px;
	box-shadow: 0 10px 9px rgba(0,0,0,.15);
}


.nav-tabs {
	@include clearfix;
	margin: 0;
	border-bottom: 1px solid transparent;
	@media (min-width: base.$screen-tablet) {
	  display: flex;
	}
  > li {
  	flex-grow: 1;
  	flex-basis: 0;
    margin-bottom: -1px;
    padding: 0;
    text-align: center;
    ~ li {
    	@media (min-width: base.$screen-tablet) {
    		margin-left: 10px;
    	}
    }
		&:before {
			display: none;
		}	
		&:hover {
			> a {
				color: var(--link-color--hover);
				background: var(--brand-accent--light);
				border-color: var(--link-color);	
			}
		}   
		> a {
			display: block;
			padding: 4% 6%;
			background: var(--color-gray--light);			
			border-radius: 20px 20px 0 0;
			font-family: var(--font-family-base--bold);
			text-decoration: none;
			transition: all .3s ease;
			cursor: pointer;
			&.active {
				color: #FFF;
				background-color: var(--brand-primary);
				border-color: var(--brand-primary);		
			}    
		}	 
  }


}


.tab-content {
	padding: 40px;
	> .tab-pane {
		display: none;
	}
	> .active {
		display: block;
	}
}

.resources .citations, .resources .references {
	h2 {
		display: block;
		margin: 0;
		padding: 10px;
		color: #FFF;
		background: var(--color-gray);
		font-size: 18px;
		text-align: center;
		&:after {
			display: none;
		}
	}
	> div {
		padding: 40px;
		background: #FFF;
	}

}
